<% content_for :head do %>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHLett8djBo62dDXj0EjCimF8Rd6E8cxg"></script>
<%end%>

<h1>Welcome#index</h1>

<h1>Google Maps Tut</h1>
<div id="map-container">
  <div id="map-canvas"></div>
</div>
