<h1>Edit Your Post</h1>
<%= form_for @post, url: "/posts/" + @post.id.to_s, method: 'patch' do |f| %>
	<%= f.text_field :title %><br>
	<%= f.text_area :content %><br>
	<%= f.submit "Update" %>
<%end%>

